body {
    background-color: $light-grey;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.banner-principal {
    background-color: $dark;
    height: 200px;
    img {
        margin-top: -40px;
    }
}

.text-center {
    text-align: center;
}

#services {
    background-color: $main-grey;
    color: $dark;
    p {
        font-family: $service-font;
    }
    h2 {
        font-family: $team-font;
        font-size: 60px;
    }
    h3 {
        font-family: $team-font;
        font-size: 40px;
    }
}

#portafolio {
    background-color: $grey;
    h4 {
        font-family: $service-font;
    }
    h2 {
        font-family: $team-font;
        font-size: 60px;
    }
    .row {
        margin-bottom: 25px;
        p {
            font-family: $team-mini;
        }
        .item-portafolio {
            background-color: $light-grey;
            /* border: 1px solid $dark-grey; */
            p {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        img {
            max-width: 100%;
        }
    }
}

#ourTeam {
    background-color: $light-grey;
    h4 {
        font-family: $service-font;
    }
    h2 {
        font-family: $team-font;
        font-size: 60px;
    }
    p {
        font-family: $team-mini;
        font-size: 16px;
        color: $dark-grey;
    }
    .row {
        margin-bottom: 25px;
    }
    img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .p-links {
        a {
            img {
                width: 30px;
            }
        }
    }
}

#clientes {
    background-color: $grey;
    margin-bottom: -20px;
    h2 {
        color: $dark;
        font-family: $team-font;
        font-size: 60px;
        margin-bottom: -7px;
    }
    p {
        font-family: $team-mini;
        font-size: 20px;
        color: $dark-blue;
    }
    .row {
        margin-bottom: 25px;
    }
    img {
        max-width: 100px;
        max-height: 100px;
    }
}

footer {
    background-color: $dark-grey;
    padding: 30px;
    .social-links {
        a {
            img {
                width: 30px;
            }
        }
    }
    .text {
        a {
            color: $dark-blue;
            &:hover {
                color: $main-blue;
            }
        }
    }
}